[submodule "packages/EABase"]
	path = packages/EABase
	url = https://github.com/LuisaGroup/EABase.git
	shallow = true
[submodule "packages/mimalloc"]
	path = packages/mimalloc
	url = https://github.com/LuisaGroup/mimalloc.git
